* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #D0E9F4;
}

a {
    text-decoration: none;
}

header {
    background-color: #D0E9F4;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0.5rem 0rem;
    color: #094964;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    font-size: 0.8rem;

}

.nav-links {
    display: flex;
    gap: 8rem;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 500;

}

.nav-links a {
    color: #094964;
    transition: all 0.5s ease;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #0d6ea8;
    border-bottom: 0.125rem solid #0d6ea8;
    padding-bottom: 0.125rem;
}

.btn {
    padding: 0.5rem 1.1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    transition: all 0.3s;
    margin: 0 0.8rem;
    font-size: 0.8em;
}

.btn-outline,
.btn-primary {
    background-color: #094964;
    color: white;
}

.btn:hover {
    background-color: #06374d;
}

main {
    background-color: white;
    width: 92%;
    margin: auto;
    border-radius: 1rem 1rem 0 0;
    min-height: 560vh;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-top: 3rem;
}

.hero-img img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(0.7) contrast(1.1);
}

.hero {
    position: relative;
}

.hero-text {
    position: absolute;
    top: 60%;
    right: 50%;
    text-align: left;
    color: #D0E9F4;
    padding: 0 1rem;
    text-shadow: 0 3px 10px rgb(86, 79, 79);
}

.hero-text h1 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.hero-text p {
    font-size: 1.6rem;
}

/* About Section */
.about {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    color: #094964;
    margin: 5rem auto;
}

.section-title {
    font-size: 2rem;
    font-weight: 800;
}


.about-text p {
    text-align: left;
    line-height: 1.8;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5rem;
}


/* Services Section */

.priority {
    text-align: center;
    color: #094964;
    margin-top: 12rem;
    margin-bottom: 2rem;

}

.priority h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 1000;
}

.priority p {
    font-size: 1rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto 6rem;
    background-color: #D0E9F4;
    padding: 4rem 4rem;
    border-radius: 1rem;
}

.service-card {
    background: #61B6DA;
    padding: 1.1rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.service-card:hover {
    transform: translateY(-10px);
}

.service-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
}

.service-card h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #094964;
    font-weight: bolder;
}

.service-card p {
    font-size: 0.7rem;
    color: #094964;
}


.service-card:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 270px;
}


/* ============================================================== */
/* ============================================================== */

.why-img img {
    width: 450px;
    height: 470px;
    object-fit: cover;
    border-radius: 1rem;
}

.why-img {
    border: 2px solid#D0E9F4;
    border-radius: 1rem;
}

.why-choose-us-container {
    display: flex;
    gap: 3rem;
    width: 90%;
    margin: auto;
    background-color: #094964;
    justify-content: center;
    padding: 3rem;
    border-radius: 1rem;
    color: #D0E9F4;
    margin-top: -4rem;
    margin-bottom: 3.5rem;
}

.why-text h3 {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 1rem;
    text-align: center;
    margin-right: 17rem;
    margin-bottom: 1.5rem;
}

.why-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.why-list li {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.why-list li div {
    display: block;
}

.why-list .bullet {
    width: 20px;
    height: 20px;
}

.lighter-text {
    color: #d0e9f4a3;
    font-weight: 400;
    font-size: 0.9rem;
}

.appointment-btn {
    margin-top: 1rem;
    width: 13.5rem;
    height: 3.39rem;
    border-radius: 0.5rem;
    background-color: #61B6DA;
    border: none;
    font-weight: 500;
    transition: all 0.3s;
    font-size: 0.9rem;
    cursor: pointer;
}

.appointment-btn:hover {
    background-color: #237497;

}

/* ==========================================
============================================= */

.workflow-container {
    background-color: #D0E9F4;
    width: 95%;
    margin: auto;
    border-radius: 1rem;
    height: 200vh;
}

.how-it-works {
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding-top: 3rem;
}

.right img {
    width: 450px;
    height: 470px;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid rgb(57, 52, 52);
}

.steps {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.steps li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    justify-content: space-between;
}

.steps li div {
    display: block;
}

.steps .bullets {
    width: 13px;
    height: 13px;
}

.left h2 {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
}

.left-text {
    margin-bottom: 1.5rem;
    color: rgb(39, 37, 37);
    font-weight: 400;
    font-size: 0.9rem;
}

.small-text {
    color: rgb(39, 37, 37);
    font-weight: 400;
    font-size: 0.9rem;
}

/* =============================================
================================================= */

.metrics h2,
.reviews h2 {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

.metrics-grid {
    margin-top: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    padding: 2rem 4rem;
    border-radius: 1rem;
}

.metric-card {
    text-align: center;
    line-height: 1.5;
    background-color: #094964;
    padding: 2.5rem;
    border-radius: 1rem;
    color: #D0E9F4;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.metric-card:hover {
    transform: translateY(-10px);
}

.metric-card p {
    font-size: 0.7rem;
}

.metric-card h3 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

#color-change {
    color: black;
    background-color: #61B6DA;
}

.reviews-grid {
    margin-top: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    padding: 2rem 4rem;
    border-radius: 1rem;
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
    margin-left: 9rem;
}

.reviews-grid {
    margin-top: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    padding: 2rem 4rem;
}

.review-card {
    line-height: 1.5;
    background-color: #61B6DA;
    padding: 1rem;
    border-radius: 1rem;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.review-card:hover {
    transform: translateY(-10px);
}

.review-card p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.review-card span {
    font-size: 0.8rem;
}

.review-btn-wrapper {
    text-align: right;
}

.review-btn {
    margin-top: 0.5rem;
    padding: 0.8rem 2rem;
    border: none;
    background: #61B6DA;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 4rem;
    transition: all 0.3s;
}

.review-btn:hover {
    background-color: #237497;
}

/* Footer section */

footer {
    background-color: #094964;
    padding: 3.5rem 2rem 1.5rem;
    width: 92%;
    margin: auto;
    color: #D0E9F4;
    margin-top: -2rem;

}

.footer-container {
    width: 90%;
    margin: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.main-title {
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 37.5rem;
}

.footer-main {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 2rem;
    margin-bottom: 3.125rem;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.brand-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.tagline {
    font-size: 1rem;
    color: #d0e9f498;
    max-width: 18.75rem;
}

.clinic-hours {
    font-size: 1rem;
}

.clinic-hours span {
    color: #d0e9f498;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.links-column h4 {
    color: #D0E9F4;
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

.links-column ul {
    list-style: none;
}

.links-column ul li {
    margin-bottom: 0.75rem;
}

.links-column a {
    color: #d0e9f498;
    text-decoration: none;
    transition: color 0.3s;
}

.links-column a:hover {
    color: #5ee6d0;
}

.links-column p {
    line-height: 1.7;
}

.footer-bottom {
    border-top: 1px solid #1e6b7a;
    padding-top: 1.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    font-size: 0.9rem;
}

.legal-links a {
    color: #8cc1c1;
    text-decoration: none;
    margin-left: 25px;
}

.legal-links a:hover {
    color: #5ee6d0;
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.social-icons a img {
    transition: transform 0.3s, opacity 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap:0.3125rem;
}

.hamburger span {
    width: 25px;
    height:3px;
    background: #094964;
    border-radius:0.1875rem;
}





/* MOBILE RESPONSIVENESS */

@media (max-width: 768px) {

    .nav-links,
    .auth-buttons {
        display: none;
        flex-direction: column;
        background: #D0E9F4;
        position: absolute;
        top: 80px;
        right:20px;
        width:200px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        text-align: right;
    }
    .nav-links.active,
    .auth-buttons.active {
        display: flex;
    }

    nav {
        position: relative;
        width: 90%;
        padding: 1rem;
    }
    .hamburger {
        display: flex;
    }

    /* HERO */
    .hero-img {
        height: 45vh;
        padding-top: 1rem;
    }

    .hero-img img {
        width: 100%;
    }

    .hero-text {
        top: 55%;
        right: 10%;
        left: 10%;
        transform: translateY(-50%);
        text-align: center;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    main {
        width: 90%;
        padding: 1.5rem 1rem;
    }

    /* ABOUT */
    .about {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .about-text p {
        line-height: 1.7;
        font-size: 1.4rem;
    }

    /* SERVICES GRID */

    .priority {
        margin-top: 9rem;
    }

    .services-container {
        padding: 2rem;
        grid-template-columns: 1fr;
        width:100%;
    }

    .service-card:last-child {
        grid-column: auto;
        width: 100%;
    }

    /* WHY CHOOSE US */
    .why-choose-us-container {
        flex-direction: column;
        padding: 2rem;
        text-align: left;
    }

    .why-img img {
        width: 100%;
        height: auto;
    }

    .why-text h3 {
        margin-right: 0;
        font-size: 1.5rem;
    }

    .why-list li {
        flex-direction: row;
    }

    .appointment-btn{
        margin-left: 1.5rem;
    }

    /* HOW IT WORKS */
    .workflow-container {
        height: auto;
        padding: 2rem 2rem;
        margin-bottom: 2rem;
    }

    .how-it-works {
        flex-direction:column-reverse;
        gap: 0.5rem;
        padding-top:0;
    }

    .right img {
        width: 100%;
        height: auto;
    }

    .left h2{
        text-align: center;
    }

    /* METRICS + REVIEWS */
    .metrics-grid,
    .reviews-grid {
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .icon img {
        margin-left: 0;
    }

    /* FOOTER */
    footer {
        width: 90%;
        padding: 2rem 2rem;
    }

    .footer-main {
        grid-template-columns: 1fr;
    }

    .footer-top {
        flex-direction: column;
        text-align: center;
    }

    .footer-links{
        gap:1.5rem;
    }

}
